# Variables de entorno (Contiene API keys y claves DB)
.env
.env.local
.env.production

# Dependencias de Node
node_modules/
frontend/node_modules/

# Archivos del sistema y temporales
.DS_Store
Thumbs.db
*.log
.gemini/

# IDEs
.vscode/
.idea/
